MetalBake/Metal-Bake.Infra/Connected Services/WcfPriceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemPrice" nillable="true" type="tns:ItemPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemPrice" nillable="true" type="tns:ArrayOfItemPrice" />
  <xs:complexType name="ItemPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemPrice" nillable="true" type="tns:ItemPrice" />
</xs:schema>