MetalBake/Metal-Bake.Infra/Connected Services/WcfPriceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52417/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52417/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52417/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52417/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CalculateOrderPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateOrderPrice" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateOrderPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateOrderPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="IService_GetPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrices" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPrice" />
  </wsdl:message>
  <wsdl:message name="IService_SetPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TxtListPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:TxtListPrice" />
  </wsdl:message>
  <wsdl:message name="IService_TxtListPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TxtListPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CalculateOrderPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateOrderPrice" message="tns:IService_CalculateOrderPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateOrderPriceResponse" message="tns:IService_CalculateOrderPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPrice" message="tns:IService_GetPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPriceResponse" message="tns:IService_GetPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllPrices" message="tns:IService_GetAllPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllPricesResponse" message="tns:IService_GetAllPrices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetPrice" message="tns:IService_SetPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetPriceResponse" message="tns:IService_SetPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TxtListPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TxtListPrice" message="tns:IService_TxtListPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TxtListPriceResponse" message="tns:IService_TxtListPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateOrderPrice">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateOrderPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/IService/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrices">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrice">
      <soap:operation soapAction="http://tempuri.org/IService/SetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TxtListPrice">
      <soap:operation soapAction="http://tempuri.org/IService/TxtListPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52417/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>