MetalBake/MetalBake.library/Connected Services/WCFStockService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemStock" nillable="true" type="tns:ItemStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemStock" nillable="true" type="tns:ArrayOfItemStock" />
  <xs:complexType name="ItemStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemStock" nillable="true" type="tns:ItemStock" />
</xs:schema>