src/MetalBandBakey.Infra/Connected Services/WCFStockService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1079/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1079/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1079/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetalBandBakery.InventoryWCF.Repositories" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CheckStock_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStock" />
  </wsdl:message>
  <wsdl:message name="IService_CheckStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReduceStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ReduceStock" />
  </wsdl:message>
  <wsdl:message name="IService_ReduceStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReduceStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetStock_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStock" />
  </wsdl:message>
  <wsdl:message name="IService_SetStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStock" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CheckStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckStock" message="tns:IService_CheckStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckStockResponse" message="tns:IService_CheckStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReduceStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReduceStock" message="tns:IService_ReduceStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReduceStockResponse" message="tns:IService_ReduceStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetStock" message="tns:IService_SetStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetStockResponse" message="tns:IService_SetStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllStock" message="tns:IService_GetAllStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllStockResponse" message="tns:IService_GetAllStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStock">
      <soap:operation soapAction="http://tempuri.org/IService/CheckStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReduceStock">
      <soap:operation soapAction="http://tempuri.org/IService/ReduceStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStock">
      <soap:operation soapAction="http://tempuri.org/IService/SetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStock">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1079/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>