src/MetalBandBakey.Infra/Connected Services/WCFRecipeService/RecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecipeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65396/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65396/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65396/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:65396/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecipeService_GetRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_SaveRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_SaveRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetAllRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecipes" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetAllRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecipesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecipeService">
    <wsdl:operation name="GetRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipe" message="tns:IRecipeService_GetRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipeResponse" message="tns:IRecipeService_GetRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/SaveRecipe" message="tns:IRecipeService_SaveRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/SaveRecipeResponse" message="tns:IRecipeService_SaveRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetAllRecipes" message="tns:IRecipeService_GetAllRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetAllRecipesResponse" message="tns:IRecipeService_GetAllRecipes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecipeService" type="tns:IRecipeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRecipe">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/SaveRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecipes">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetAllRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeService">
    <wsdl:port name="BasicHttpBinding_IRecipeService" binding="tns:BasicHttpBinding_IRecipeService">
      <soap:address location="http://localhost:65396/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>